<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Practice Suite"  > 
<!-- suite name="Suite Name" --> 
<test name="TestA">
	<parameter name= "a" value="10"/>
	<parameter name= "b" value="5"/>
               <classes>
        <!-- packagename.Testcase class name  -->
           <class name ="Bank.Bank.CalculatorAppTest" />
         </classes>
 </test>
</suite>